<div>
    <label >Intitule de l'offre</label> : <p>{{offreRecherchee.intitule}}</p>
    <label>Description</label> : <p>{{offreRecherchee.descriptif}}</p>
    <label>Date de l'offre</label> : <p>{{offreRecherchee.dateDebut|date("d/m/Y")}}</p>  
    <label>Type de contrat</label> : <p>{{offreRecherchee.contrat}}</p>
</div>
