/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 janv. 2017, 16:04:45
    Author     : fahmedal
*/
body {
  background: #e5e6e8;
  color: #333;
}

.aidu-fond-blanc{
    background: #FFFFFF !important ;
    
}

.aidu-fond-blanc-hight-fixed{
    background: #FFFFFF !important ;
    height: 100px;
    
}

.aidu-mgt20 {
    margin-top: 20px; 
}

.aidu-mgl15 {
    margin-left: 15px; 
}

.aidu-pdt15 {
    padding-top: 15px;
}

.aidu-pdb15 {
    padding-bottom: 15px;
}
